* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
    font-weight: 700;
}

:root {
    --Very-dark-violet: hsl(268, 75%, 9%);
    --Very-dark-violet-lighter: hsl(268, 71%, 12%);
    --Dark-violet: hsl(281, 89%, 26%);
    --Vivid-magenta: hsl(285, 91%, 52%);
    --Pure-cyan: hsl(176, 100%, 44%);
    --Soft-cyan: hsl(177, 92%, 70%);
    --Very-dark-violet-keys: hsl(268, 47%, 21%);
    --Dark-magenta: hsl(290, 70%, 36%);
    --Light-yellow: hsl(52, 100%, 62%);
    --Very-dark-blue: hsl(198, 20%, 13%);
    --White: hsl(0, 0%, 100%);
}

body {
    background: var(--Very-dark-violet);
}

.calculator {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: auto;
    margin-top: 200px;
    margin-bottom: 200px;
}

.calculator .cal-header {
    display: flex;
    color: var(--Light-yellow);
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.calculator .cal-screen {
    background: var(--Very-dark-violet-lighter);
    color: var(--Light-yellow);
    padding: 25px;
    text-align: right;
    font-size: 25px;
    border-radius: 10px;
    box-shadow: 0 20px 20px 0 var(--Very-dark-violet);
    margin-bottom: 25px;
}

.theme {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
}

.tri-state-toggle {
    display: flex;
    gap: 0.5rem;
}

.button-toggle {
    width: 25px;
    height: 25px;
    appearance: none;
    background-color: var(--Pure-cyan);
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

.button-toggle:checked {
    background-color: var(--Soft-cyan);
}

.calculator .cal-ui {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    padding: 25px;
    background: var(--Very-dark-violet-lighter);
    box-shadow: 0 20px 20px 0 var(--Very-dark-violet);
    border-radius: 10px;
}

.calculator .cal-ui button {
    padding: 10px;
    color: var(--Light-yellow);
    background-color: var(--Very-dark-violet-keys);
    box-shadow: 0 4px 1px 0 var(--Dark-magenta);
    border-radius: 10px;
    border: none;
    font-size: 30px;
    transition: ease-in 0.1s;
}

.calculator .cal-ui #del-btn {
    background: var(--Dark-violet);
    color: white;
    box-shadow: 0 4px 1px 0 var(--Vivid-magenta);
}

.calculator .cal-ui #reset-btn {
    grid-column: 1/3;
    background: var(--Dark-violet);
    box-shadow: 0 4px 1px 0 var(--Vivid-magenta);
    color: white;
}

.calculator .cal-ui #result-btn {
    grid-column: 3/5;
    background: var(--Pure-cyan);
    box-shadow: 0 4px 1px 0 var(--Soft-cyan);
    color: black;
}

.calculator .cal-ui button:hover {
    cursor: pointer;
    background: var(--Dark-magenta);
}

.calculator .cal-ui #del-btn:hover {
    background: var(--Vivid-magenta);
}

.calculator .cal-ui #reset-btn:hover {
    background: var(--Vivid-magenta);
}

.calculator .cal-ui #result-btn:hover {
    background: var(--Soft-cyan);
}

@media (max-width: 530px) {
    .calculator {
        width: 350px;
    }

    .calculator .cal-ui button {
        font-size: 25px;
    }
}

/* Themes */
body.theme1 {
    --Very-dark-violet: hsl(222, 26%, 31%);
    --Very-dark-violet-lighter: hsl(223, 31%, 20%);
    --Dark-violet: hsl(225, 21%, 49%);
    --Vivid-magenta: hsl(6, 63%, 50%);
    --Pure-cyan: hsl(30, 25%, 89%);
    --Soft-cyan: hsl(28, 16%, 65%);
    --Very-dark-violet-keys: hsl(224, 28%, 35%);
    --Dark-magenta: hsl(6, 70%, 34%);
    --Light-yellow: hsl(0, 0%, 100%);
    --Very-dark-blue: hsl(221, 14%, 31%);
    --White: hsl(0, 0%, 100%);
}

body.theme2 {
    --Very-dark-violet: hsl(0, 0%, 93%);
    --Very-dark-violet-lighter: white;
    --Dark-violet: hsl(185, 42%, 37%);
    --Vivid-magenta: hsl(25, 98%, 40%);
    --Pure-cyan: hsl(45, 7%, 89%);
    --Soft-cyan: hsl(35, 11%, 61%);
    --Very-dark-violet-keys: hsl(45, 7%, 89%);
    --Dark-magenta: hsl(185, 42%, 37%);
    --Light-yellow: hsl(60, 10%, 19%);
    --Very-dark-blue: hsl(60, 10%, 19%);
    --White: hsl(0, 0%, 100%);
}

body.theme3 {
    --Very-dark-violet: hsl(268, 75%, 9%);
    --Very-dark-violet-lighter: hsl(268, 71%, 12%);
    --Dark-violet: hsl(281, 89%, 26%);
    --Vivid-magenta: hsl(285, 91%, 52%);
    --Pure-cyan: hsl(176, 100%, 44%);
    --Soft-cyan: hsl(177, 92%, 70%);
    --Very-dark-violet-keys: hsl(268, 47%, 21%);
    --Dark-magenta: hsl(290, 70%, 36%);
    --Light-yellow: hsl(52, 100%, 62%);
    --Very-dark-blue: hsl(198, 20%, 13%);
    --White: hsl(0, 0%, 100%);
}
